/* Covers the basic background and menu button */

html {
  background: #25253f;
}

body,
.container-fluid {
  background: #25253f;
  letter-spacing: 0.2px;
}


#header {
  padding: 0;
  background-color: #0a0a23;
  color: white;
  text-align: center;
  text-transform: uppercase;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  font-family: 'Bradley Hand', 'Brush Script MT', cursive, 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border: 0.15em solid #0a0a23;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}

#content {
  color: white;
  font-size: x-large;
  font-weight: bold;
  border: 0.15em solid #0a0a23;
  border-radius: 0.5em;
  background-color: #0a0a23;
  margin: 2em 1em;
}

#content .row {
  margin: auto;
}

@media (min-width: 576px) {
  .topnav {
    display: none;
  }
}

@media (max-width: 576px) {

  /* Change color of dropdown links on hover */
  .dropdown {
    display: none
  }

  /* Style the navigation menu */
  .topnav {
    overflow: hidden;
    position: relative;
  }

  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }

  /* Style navigation menu links */
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }

  /* Style the hamburger menu */
  .topnav a.icon {
    /* background: black; */
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }

  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: #0a0a23;
    color: white;
  }

  .header {
    display: none;
  }

  /* Style the active link (or home/logo) */
  .active {
    background-color: #0a0a23;
    color: white;
  }

}

/* Dropdown Button */
.dropbtn {
  background-color: #0a0a23;
  color: white;
  font-size: 16px;
  border: none;
  padding: 0.5em;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  /* display: inline-block; */
  /* text-align: center; */
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width: 160px;
  z-index: 1;
  font-family: 'Times New Roman', Times, serif;
  transform: translateX(-3em);
  
}
/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 5px 3px;
  text-decoration: none;
  display: block;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropbtn:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropbtn:hover .dropbtn {background-color: black}

.dropdown-content ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.dropdown-content ul li {
  display: inline;
}