
html {
  background: #25253f;
}
body, .container-fluid {
  background: #25253f;
  letter-spacing: 0.2px;
}

#header {
  padding: 0;
  
}

.header {
  background-color: #0a0a23;
  color: white;
  text-align: center;
  text-transform: uppercase;
  /* padding: 32px; */
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  font-family: cursive, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border: 0.15em solid inherit;

  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}


.title {
  text-align: center;
  /* margin: 1em auto; */
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 0;
  color:black;
}

/* .list {
  text-align: left;
  background-color:  #0a0a23;
  color: white;
  margin: 0% 10% 5% 10%;
  font-size: x-large;
  font-weight: bold;} */


/* label {
  display: inline;
} */



input[type="checkbox"] {
  appearance: none;

  background-color: white;
  font: inherit;
  color: white;
  margin: 1em;
  text-align: center;
  width: 0.5em;
  height: 0.5em;
  border: 0.5em solid white;
  border-radius: 50% 50% 50% 50%;
  transform: translateY(-0.7em);
  vertical-align: middle;

  /* display: grid; */
  place-content: center;
}

input[type="checkbox"]:checked{
  content: "";
  transform: scale(1);
  width: 0.5em;
  height: 0.5em;
  border: 0.5em solid white;
  border-radius: 0.15em;
  transition: 10ms transform ease-in-out;
  transform-origin: bottom;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: translateY(-0.7em);

  /* box-shadow: inset 1em 1em var(--form-control-color); */
}

label input:checked~.strike{
  text-decoration: line-through white !important;
}

.col-1 {
  background: #25253f;
  
}

#centerme {
  text-align: left;
  /* background-color:  #0a0a23; */
  color: white;
  /* margin: auto; */

  font-size: x-large;
  font-weight: bold;
  /* padding: 0; */
  
}
#todo_list:first-child .first{
  border: 0.15em solid inherit;
  border-top-right-radius: 0.5em;
  text-align: center;
}

#todo_list:first-child .col-6 {
  border: 0.15em solid inherit;
  border-top-left-radius: 0.5em;
}

#todo_list:last-child .col-sm-3 {
  border: 0.15em solid inherit;
  border-bottom-right-radius: 0.5em;
}

#todo_list:last-child .col-6 {
  border: 0.15em solid inherit;
  border-bottom-left-radius: 0.5em;
}

.col-4, .col-6, .col-2, .col-10 {
  padding: 1em;
  /* padding-bottom: 0; */
  background-color:  #0a0a23;
  margin: 0;
}

.col-4:last-child, .col-6:last-child {
  /* padding-bottom: 1em; */
  background-color:  #0a0a23;
}

.col-4 {
  float: right;
  text-align: center;
  /* padding-right: 1.5em; */
  background-color:  #0a0a23;
}

.item_label {
  display: flex;
  flex-direction: row;
}

.time_select {
  float: center;
  text-align-last: center;
  text-align: center;
}
