
#content {
  margin: 2em 1em;
}
#title {
  text-align: center;
  margin: 1em 0.25em;
}

#item_list {
  margin-bottom: 1em;
}

textarea {
  width: 50%;
}

.num_runs {
  margin-bottom: 1em;
}

#num_times {
  max-width: 3.5em;
  margin-left: 0.25em;
}

#divider {
  border: 1px solid rgba(221,221,221,10%);
  margin: 1em 0;
}

#actual_results {
  margin: 1em 0;
}


@media (max-width: 576px) {

    .firstheader {
      display: none;
    }
}